
/*  style atribute for the .bar that I dont how it compleatly works, but also when I delete it, website auto-destruct | I'm sure it changes the background colour and the padding *\
.bar
    header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100 %;
    background-color: #333;
    color: #fff;
    padding: 10 px;
  } 

/* another style atribute for the .bar, this time it changes everything... border, height, background colour *\
.bar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  border: 2 px dashed rgba (114, 186, 94, 0.35);
  height: 400 px;
  background: rgba (114, 186, 94, 0.05);
}

/* style atribute for a column, floats it To the left and changes width by a set ammount *\
.column {
  float: left;
  width: 33.33 %;
}

/* style atribute for the .fixed, sets the fixed position of the rainbow bar at the top of the page *\
.fixed {
 position:
 fixed;
 top:0;
 z-index: 1;
 width:100 %;
 height:100 %;
 background-image:url(https://ibb.co/Zz8QfF8);background-repeat: repeat-x; 
}

/* style atribute that changes the content margin To the top scaled at 57 pixels *\
.content{margin-top:57 px;}

/* style atribute for the .row, so that it makes a table alike structure for the tag | somehow it works without inpputed values *\
.row {
  after: "";
  content: "";
  display: table;
  clear: both;
}
